body { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ececec;
    margin: 0;
}

header {
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 16px;
    background-color: #e9e2d8;
    color: #4f4544;
    font-weight: bold;
    font-size: x-large;
    line-height: 64px;
    box-shadow: 4px 4px 5px #cacaca;
}

fieldset {
    margin: 32px 64px;
    padding: 32px 32px 32px 48px;
    border: 1px solid #e9e2d8 ;
}

legend {
    color: #88837d;
    letter-spacing: 8px;
    padding: 0 8px 0 16px;
    font-size: x-large;
}

label {
    text-align: right;
    display: inline-block;
    width: 20%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #4f4a44;
    padding: 4px 16px 4px 0;
}

input {
    display: inline-block;
    width: 45%;
    line-height: 32px;
    border: 1px solid #e9e2d8;
    margin-bottom: 16px;
}

button {
    margin-left: 900px;
    border: none;
    padding: 16px 32px;
    background-color: #c5beb6;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

.section {
    background-color: #f7f3f2;
    margin: 32px; 
    padding: 16px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px #a5a5a5;
}

table, th, td {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #f1ece9;
}

tr:first-child {
    background-color: #e9e2d8;
    color: #4f4a44;
}

th {
    text-transform: uppercase;
    letter-spacing: 2px;
}

th, td {
    padding: 8px 32px 8px 16px;
    vertical-align: top;
    text-align: left;
    border: 0px;
}
