div {
    width: 15.625rem;
    height: 9.375rem;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.A {
    border: 5px solid red;
    border-color: lightcoral;
}

.B {
    border: 5px solid blue;
    border-color: lightcyan;
}



